<h1>Cart: </h1>

<% total = 0 %>
<% checkout_url = "http://tuneify-2.myshopify.com/cart/" %>

<% @cart.each do | id | %>
	<div class="row featurette">
	<% product = Product.find_by_id(id) %>
		<div class="col-md-8">
			<b><%= link_to product.name, product %></b> 
			<p><%= product.description %></p>		
		</div>
		<div class="col-md-4">
			<%= number_to_currency(product.price, :unit => '$') %>	
		</div>
	</div>
	<% total += product.price %>
	<% checkout_url = checkout_url + product.shopify_id.to_s + ":1," %>
<% end %>	
<hr>
<div class="row featurette">
	<div class="col-md-8">
		<% if @cart.blank? %>
			<p>Cart is currrently empty.</p>
		<% else %>
			<%= link_to 'Empty Cart', cart_clear_path, :class => "btn" %>
		<% end %>
	</div>
	<div class="col-md-4">
		<b><%= number_to_currency(total, :unit => '$') %></b>
	</div>
</div>
<div class="row featurette">
<div class="col-md-8">
</div>
<div class="col-md-4">
<% if !@cart.blank? %>
	<%= link_to "Checkout", checkout_url, remote:false, :class => "btn" %>
<% end %>
</div>
</div>