<div class="row">
  <aside class="col-md-2 text-center">
       <%= render 'user_info' %>
    </aside>
  <div class="col-md-8">
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-12">
						<h3>User's Music</h3>
						<% if @user.products.blank? %>
						<p>There is currently no music uploaded by this user.</p>
						<% else %>
						<table class="table table-bordered">
						<% @user.products.each do |product| %>
						<tr>
						<td><div class="row featurette">
							<div class="col-md-4">
								<%= link_to image_tag(product.image.url, class: 'media-object picture'), product %>
							</div>
							<div class="col-md-8">
								<h2><%= link_to product.name, product %></h2>
								<p><%= product.description %></p>
								<% if current_user?(@user) %>
									<%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
								<% end %>
							</div>
						</div></td>
						</tr>
						<% end %>
						</table>
						<% end %>
                    </div>
                </div>
            </div>
        </div>
</div>
